/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html{
  height: 100%;
}

body{
  overflow-x:hidden;
  height: 100%;


}

/* 
SHORTHAND MIXIN PACK LESS 1.0

@author: Alex Moreno [fb.com/alexmorenodev];
@date: 08/28/13;
@package: nhoi;

*/


@font-face {
    font-family: 'Klavika';
    src: url('../fonts/klavika-regular-webfont.eot');
    src: url('../fonts/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-regular-webfont.woff') format('woff'),
         url('../fonts/klavika-regular-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: "Roboto Condensed";
font-style: normal;
font-weight: 300;
src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("../fonts/RobotoCondensed-Light.ttf") format('truetype');
}



@font-face {
font-family: "Roboto Condensed";
font-style: italic;
font-weight: 300;
src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("../fonts/RobotoCondensed-LightItalic.ttf") format('truetype');
}
 
/* Normal */
@font-face {
font-family: "Roboto Condensed";
font-style: normal;
font-weight: 400;
src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("../fonts/RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
font-family: "Roboto Condensed";
font-style: italic;
font-weight: 400;
src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("../fonts/RobotoCondensed-Italic.ttf") format('truetype');
}
 
/* Bold */
@font-face {
font-family: "Roboto Condensed";
font-style: normal;
font-weight: 700;
src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("../fonts/RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
font-family: "Roboto Condensed";
font-style: italic;
font-weight: 700;
src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("../fonts/RobotoCondensed-BoldItalic.ttf") format('truetype');
}


.roboto{
  font-family: 'Roboto Condensed';
}

.klavika{
  font-family: 'Klavika';
}





.font-format(@color, @size, @line-height : normal, @font-family: Roboto Condensed ){
  color:@color;
  font-size:@size;
  line-height: @line-height;
  font-family: @font-family;

}
/* Shorthand for Position Absolute */
.pa{
  position:absolute;
}


/* Position Relative, by default its value is left, but you sure can pass right*/
.pr(@float : left){
  position:relative;
  float:@float;
}

/* Used most for debugging, stands for "Border RED"*/
.bred {
  border:1px solid red;
}

/* can be used for debugging when borders screws your grid, stands for Background Color and it comes by default with Gray*/
.bc(@bc: #eee){
  background-color:@bc;
}




.centered(@width:1080px){
  left: 50%;
  margin-left: -(@width / 2);
  width: @width;
  .pa;
}



/* keep your a with hover but original color */
.a_clean(@color){
  text-decoration: none;
  color: @color;
  cursor:pointer;
  &:hover{
    text-decoration: underline;
  }
}

@cinza1: #ababab;
@cinza-bg: #eaeaea;
@azul1: #20303f;
@azul2: #495561;
/* ############################### */



.clear{
  clear:both;
}


.page{
  width: 100%;
  .pr;
  .bc(@cinza-bg);

}

.icone-header{
  .pr(right);
  margin-top: 40px;
  margin-left:17px;

}

.pesquisa-home{
  width: 200px;
  height: 18px;
  border: 1px solid @cinza1;
}

.input-1{
  width: 182px;
  height: 20px;
}

.pesquisa-home .input-1::-webkit-input-placeholder{color:#999;}
.pesquisa-home .input-1:-moz-placeholder{color:#999;}
.pesquisa-home .input-1::-moz-placeholder{color:#999;}
.pesquisa-home .input-1:-ms-input-placeholder{color:#999;}

.input-invisivel{
  background:none;
  border:none;
}

.icone-pesquisa{
  .pr(right);
  margin-right:3px;
  margin-top:2px;
  cursor: pointer;
}
header{
  width: 100%;
  .pr;
.bc(@cinza-bg);  
  height: 172px;
}

.container-header{
  .centered(960px);
 
}

.nav-bar{
  height: 40px;
  width: 100%;
  background-color: @azul1;
  margin-top: 22px;
}

.nav-item{
  .font-format(white, 13px);
  text-transform: uppercase;
  font-weight: bold;
  .pr;
  padding: 12px 18px;
  &:hover{
    .active;
  }

}

.active{
  background-color:#eaeaea;
  border: 1px solid @azul1;
  color: @azul1;
  height: 14px;
  padding: 12px 17px;
}

.meio-nav-bar{  
  width: 148px;
  .pr;
  height: 40px;
  background-color:#eee;
  text-align: center;
  &:before{
    content:'';
    border-top:0px solid @azul1;
    border-left:7px solid @azul1;
    border-bottom:40px solid transparent;
    border-right: solid transparent;
    height:1px;
    width: 1px;
    display: block;
    .pr;
    

  }
  &:after{
    content:'';
    border-top:0px solid @azul1;
    border-right:7px solid @azul1;
    border-bottom:40px solid transparent;
    border-left: solid transparent;
    height:1px;
    width: 1px;
    display: block;
    .pr(right);
    
  };
}

.logo-menu{
  margin-top: -60px;
}


.main{
  width: 100%;
  .bc(@cinza-bg);
  height: 440px;
  .pr;
}

.container-main{
  .centered(960px);
  height: 440px;
}

.slideshow{
  
  width: 650px;
  height: 400px;
  margin-right: 55px;
  .pr;
}

.barra-preta-slide{
  .pa;
  bottom:0;
  width: 100%;
  opacity:0.6;
  background-color:#000;
  height: 90px;
}

.slide-home{
    height: 400px;
      width: 650px;

}

.slide-nav{
  position: absolute;
  bottom:20px;
  width: 650px;
}

.slide-nav a{
  display:block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  .pr(right);
  cursor: pointer;
  margin-left:12px;
  background-color: #101a23;
}


.activeSlide{
background-color: #4a5460 !important;
}
.titulo-slide{
  bottom: 40px;
  left:35px;
  .font-format(white, 25px);
  text-transform: uppercase;
  .pa;
  font-weight: bold;
}

.subtitulo-slide{
  bottom: 24px;
  left:35px;
  .font-format(white, 13px);
  text-transform: uppercase;
  .pa;
  font-weight: bold;
}

.destaque-thumb{
  width: 220px;
  height: 90px;
  .pr;
  margin-top:17px;
  margin-left:16px;
}

.destaques{
  width: 255px;
  height: 440px;
  .pr;
  .bc(@azul2);
}

.destaque-nome{
  .font-format(white, 16px);
  .klavika;
  margin-left:16px;
  margin-top:4px;
  .pr;
}

.footer-home{
  .pr;
  width: 100%;
  .bc(#20303f);
}

.coluna-footer-home{ 
  height: 264px;
  .pr;
  width: 338px;
}
.coluna-footer-home-2{
    height: 264px;
  .pr;
  width: 284px;
}
.container-footer-home{
  
  .centered(960px);
  .pr;
}

.titulo-footer-home{
  .font-format(white, 34px);
  .roboto;
  font-weight: bold;
  .pr;
  text-transform: uppercase;
  width: 100%;
  margin-top:95px;
}

.texto-footer-home{
  .font-format(white, 15px);
  .klavika;
  font-weight: bold;
  .pr;
  margin-top:18px;
  width: 75%;
}

.input-newsletter{
  height: 25px;
  width: 220px;
  background: #495561;
  .pr;
  margin-top:5px;
  input{
    width: 95%;
    background: none;
    border:0;
    color:white;
    .klavika;
    padding-top:3px;
    font-size: 16px;
    margin-left:10px;
  }

}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}
.container-inputs-newsletter{
  .pr;
  width: 220px;
}
.enviar-newsletter{
  width: 59px;
  border:0;
  height: 55px;
  background: #495561;
  .pr(left);
  margin-left: 5px;
  margin-top:5px;
 color:white;
 cursor: pointer;
 &:hover{
    background:#eaeaea;
    div{
      color:#495561;
    }
 }
 .font-format(white, 14px);
 div{
  .pr;
  
  padding-left:7px;
 }
}

.titulo-destaques{
  width: 100%;
  background-color: #20303f;
  .font-format(white, 16px);
  .pr;
  padding: 12px 0 9px 0px;
  text-transform: uppercase;
  font-weight: bold;
  span{
    margin-left:19px;
    display: block;
  }
}

.marcas-parceiras{
  text-transform: uppercase;
  .pa;
  .centered(100%);
  height: 40px;
  .font-format(#caced1, 26px);
  font-weight: bold;
  .roboto;
  text-align: center;
  top:65px;
  span{

  display: inline-block;
  position: relative;  

  &:before, &:after{
     content: "";
  position: absolute;
  height: 1px;
  
  border-top: 1px solid #7b7e85;
  top: 15px;
  width: 1000px;
  }
  &:before{
    right: 100%;
    margin-right: 35px;
  }
  &:after{
    left: 100%;
    margin-left: 35px;
  }

  }
 
}

footer{
  width: 100%;
  .bc(#0f1c25);
  height: 159px; 
  .pr;
}

.wrapper-footer{
  .centered(960px);

}

.coluna-footer-1{
  width: 252px;
  .pr;

}

.titulo-coluna-footer{
  .font-format(#a5acb2, 13px);
  .roboto;
  text-transform: uppercase;
  margin-top:60px;
  font-weight: bold;
}


.texto-coluna-footer{
  .font-format(#a5acb2, 12px);
  .klavika;
  
  margin-top:15px;

}

.faixa-azul-footer{
  .pr;
  width: 100%;
  height: 40px;
  background-color: #091219;
}



.parceiros{
  .pr;
  width: 100%;
  height: 290px;
  background-color:#20303f;
  background-repeat: no-repeat;
  background-position: center;
}

.parceiros-home{
  background-image: url(../img/background-marcas-parceiras.png);
}

.banner{
  width: 100%;
  .pr;
  height: 148px;
  background-color: black;

}

.container-corpo{
  .pr;
  width: 100%;
  background-color: #495561;

}

.wrapper-corpo{
  .centered(960px);
  .pr;
}

.titulo-empresa{
  .font-format(white, 30px);
  .roboto;
  font-weight: bold;
  margin-top:70px;
  width: 100%;
  .pr;
  text-transform: uppercase;
}

.texto-empresa{
  .font-format(white, 16px);
  .klavika;
  padding-bottom:70px;
  margin-top:30px;
  .pr;
}

.wrapper-banner{
  .centered(960px);
  .font-format(white, 38px);
  .roboto;
  font-weight: bold;
  margin-top:70px;
  text-transform: uppercase;
}

.texto-manutencao-1{
  .font-format(white, 16px);
  .klavika;
  margin-top:70px;
  width: 100%;  
}

.texto-onde-comprar-1{
  .font-format(white, 14px);
  .klavika;
  margin-top:70px;
  width: 100%;
  .pr;

}

.texto-onde-comprar-2{
  .font-format(white, 20px);
  .klavika;
  padding-top:10px;
  padding-bottom: 70px;
  width: 100%;
  .pr;
    a, a:visited{
    .a_clean(white);
  }
}
.coluna-manutencao-1{
  .pr;
  width: 430px;
  margin-right: 50px;
  margin-top:50px;
  padding-bottom:50px;
}
.linha-form{
  width: 100%;
  .pr;
  .font-format(white, 16px);
  .klavika;
  margin-top:5px;
}
.input-form-1{
  width: 318px;
  background: none;
  border: 1px solid #7f8b97;
  color:white;
}
.input-form-3{
  width: 298px;
  background: none;
  border:0;
  .font-format(#7f8b97, 14px);
  .roboto;
  background-color:transparent;


}



.div-padding-bottom{
  .pr;
  width: 100%;
  padding-bottom:60px;
}
.wrapper-select-3{
  width: 268px;
  overflow: hidden;
  border: 1px solid #7f8b97;
  .pr;
  height: 23px;
  background: url(../img/contato/seta2.png) no-repeat right;
  
}

.textarea-form-1{
  width: 314px;
  width: 317px \9;
  background: none;
  border: 1px solid #7f8b97;
  color:white;
  height: 90px;
}

.botao-enviar-contato{
  width: 93px;
  height: 24px;
  padding-bottom:3px;
  .pr(right);
  background-color: #20303f;
  .font-format(white, 16px);
    .roboto;
    border:0;
    &:hover{
      color:#20303f;
      background-color:white;
    }
  
}

.botao-form{
  height: 27px;
  width: 173px;
  .pr;
  margin-right:10px;
  border: 0;
  .font-format(#d9e2e7, 16px);
  .roboto;
  font-weight: bold;
  cursor: pointer;
}

.botao-incluir{
  background-color: #8f99a2;
  width: 173px;
  &:hover{
  background-color: #d9e2e7;
  color:#8f99a2;
  };
}

.botao-remover{
  .klavika;
  font-size:11px;
  color:#fff;
  text-decoration:none;
  margin-left:10px;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
  -o-transition:all .3s ease-in;
  transition:all .3s ease-in;
  &:active, &:visited{color:#fff;}
  &:hover{ color:#8f99a2; }
}

.mensagem-envio-manutencao{
  width:540px;
  background-color:#EAEAEA;
  line-height:150%;
  padding:10px 0;
  display:block;
  .klavika;
  clear:both;
  height:48px;
  margin:15px auto 0 auto;
  text-align:center;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
  -o-transition:all .3s ease-in;
  transition:all .3s ease-in;
  &.removido{
    padding:0;
    height:0;
    overflow:hidden;
  }
}

.mensagem-envio-contato{
  background-color:#EAEAEA;
  line-height:150%;
  padding:10px 0;
  display:block;
  .klavika;
  clear:both;
  height:48px;
  margin:10px 0;
  text-align:center;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
  -o-transition:all .3s ease-in;
  transition:all .3s ease-in;
  &.removido{
    margin:0;
    padding:0;
    height:0;
    overflow:hidden;
  }
}

.botao-processar{
  background-color: #20303f;
  margin-right: 0;
  width: 137px;
  &:hover{
  background-color: #d9e2e7;
  color:#20303f;
  };

}

.linha-novidade{
  margin-top: 35px;
  width: 100%;
  height: 120px;
  .pr;
}

.thumb-novidade{
  .pr;
  margin-right:33px;
  a, a:visited{
  .a_clean(white);
  
}
}


.thumb-novidade-2{
  .pr;
  margin-left:35px;
  margin-bottom:40px;

filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
   -webkit-backface-visibility: hidden; /* Fix for transition flickering */
   &:hover{
    .hover-pb;
    
    };

}

.thumb-video-2{
  .pr;
  margin-left:35px;
  margin-bottom:40px;
  cursor: pointer;
}


.video-redirect{
  
  width: 190px;
  height: 96px;
  .pa;
  margin-top:-99px;
}

    .hover-pb{
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
    }

    


.thumb-sem-margem{

}


.titulo-novidade{
.font-format(white, 22px);
.roboto;
.pr;
margin-top:-5px;
text-transform: uppercase;
width: 76%;
font-weight: bold;
a, a:visited{
  .a_clean(white);
  
}
}

.borda-novidade{
  width: 100%;
  height: 1px;
  border-top:1px solid #38454e;
  border-bottom: 1px solid #687683;
  bottom: 0;
  .pa;
}
.borda-novidade-lateral{
  height: 100%;
  width: 1px;
  border-right:1px solid #687683;
  border-left: 1px solid #38454e;
  right: 0;
  .pa;
}
.borda-novidade-lateral-produto{
  height: 100%;
  width: 1px;
  border-right:1px solid #687683;
  border-left: 1px solid #38454e;
  left: 165px;
  .pa;
}

.chamada-novidade{
  .font-format(white, 16px);
  .klavika;
  margin-top:5px;
  width: 76%;
  .pr;
  a, a:visited{
  .a_clean(white);
  
}
}

.data-novidade{
  .font-format(white, 12px);
  .klavika;
  margin-top:5px;
  width: 76%;
  .pr;
  text-align: right;
    a, a:visited{
    .a_clean(white);
  }
}


.coluna-novidade-2{
  width: 230px;
  .pr;
  padding-top:85px;
}

.label-form-1{
  width: 110px;
  width: 90px \9;
  .pr;
  margin-top:3px;
}

.label-form-3{
  width: 120px;
  .pr;
  margin-top:3px;
}

.wrapper-corpo-novidades{
padding-top:30px;
}
.wrapper-corpo-novidade{
padding-top:85px;
}

.label-titulo{
  font-size:22px;
  width: 100%;
}
.texto-contato{
  .pr;
  margin-left:120px;
  margin-top: 20px

}


.foto-parceiros{
  .pr;
  margin: 0 25px;
}

.cycle-parceiro{
  width: 100%;  
  .pr;
}

.wrapper-parceiros{
  .centered(1020px);
  margin-top:150px;
}

.foto-novidade{
  .pr;
  margin-bottom:30px;
  padding-top:85px;
}

.coluna-novidade{
  width: 730px;
  .pr;
  
  padding-bottom:30px;
}

.texto-novidade{
  .font-format(white, 16px);
  .klavika;
  margin-top:15px;
  width: 90%;
  .pr;
  a, a:visited{
  .a_clean(white);
  
}
}

.voltar{
  .font-format(#8f99a2, 16px);
  .roboto;
  .pr;
  text-align: center;
  width: 100%;
  margin-top:30px;
a, a:visited{
  .a_clean(#8f99a2);
  
}
}


.coluna-categorias{
  width: 160px;
  .pr;
  padding-bottom:60px;
}

.coluna-produtos{
  width: 750px;
  padding-left:50px;
  .pr;
  padding-top:45px;

}


.coluna-produto{
  width: 735px;
  padding-left:65px;
  .pr;
  padding-top:40px;
  padding-bottom:30px;

}

.titulo-categorias{
  .font-format(white, 22px);
  .roboto;
  .pr;
  margin-top: 40px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom:45px;
}


.titulo-produto{
  .font-format(white, 22px);
  .roboto;
  .pr;
  
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom:45px;
}


.informacoes{
  .font-format(white, 22px);
  .klavika;
  font-weight: bold;
  margin-top: 30px;
  text-transform: uppercase;
}

.caracteristicas{
  .pr;
  width: 720px;
  margin-top:15px;
  padding-bottom:60px;
  font-size: 16px;
}

.duas-colunas{
  padding-right:238px;
}

.celula-caracteristica{
  width: 238px;
  height: 25px;
  margin-right:3px;
  .pr;
  div{
     
    .klavika;
    text-align: center;
    margin-top:5px;
    font-weight: bold;
    
  }
  &:nth-of-type(3n){
    margin-right:0;
  }
}

.ultimos-videos{
  .pr;
  .font-format(white, 22px);
  .roboto;
  margin-left:34px;
  font-weight: bold;
  margin-bottom:30px;
  text-transform: uppercase;

}
.informacoes-produto{
 .font-format(white, 18px);
  .klavika;
  
  margin-top: 20px;
  
}


.linha-categoria{
  width: 100%;
  .font-format(white, 14px);
  margin-bottom:20px;
  text-transform: uppercase;
  &:hover{
    text-decoration:underline;
    cursor: pointer;

  }
}

.linha-subcategoria{
  
  width: 81%;
  .font-format(white, 12px);
  .roboto;
  margin-bottom:5px;
  margin-left:30px;

   
}

.subcategorias{
  display: none;
  .pr;
  width: 100%;
   a, a:visited{
  .a_clean(white);
  
}
  margin-bottom:10px;
}
.container-produto-listagem{
  width: 240px;
  .pr;
  margin-right:15px;
  margin-bottom: 30px;
height: 300px;
  &:nth-of-type(3n){
    margin-right:0;
  }
  &:hover{
   background-color:#20303f !important; 
  }
  padding-bottom:30px;
}

.titulo-produto-listagem{
  .font-format(white, 16px);
  .klavika;
  .pr;
  width: 80%;
  font-weight: bold;
  margin-top:10px;
  margin-left:20px;
}


.paginacao{
  .pr;
  width: 100%;
  text-align: center;
  height: 30px;
  margin-bottom:60px;
  margin-top:30px;
  .font-format(#9099a2, 20px);
  .roboto;
  a, a:visited{
    text-decoration: none;
    cursor:pointer;
    .font-format(#9099a2, 20px);

    &:hover{
      color:white;
    };
  }

}

.item-paginacao{
  margin: 0 10px;
  font-weight: bold;
}

.item-ativo{
color:white;
display: inline;
font-weight: bold;
}
.subtitulo-produto-listagem{
 .font-format(white, 12px);
  .roboto;
  .pr;
  width: 80%;
  margin-left:20px;
   
}


.foto-produto{
  .pr;
}

.miniatura-produto{
  .pr;
  cursor: pointer;
  margin: 5px 5px;
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */

    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
   -webkit-backface-visibility: hidden; /* Fix for transition flickering */
   &:hover{
    .hover-pb;
    
    };



}

.subcategoria-ativa{
  font-weight: bold;
  text-decoration: underline;
}

.container-miniaturas{
  .pr;
  
  
  margin-top:-5px;
  margin-left: 30px;
  width: 171px;

}

.caracteristica-clara{
  background-color:#c5c5c5;
  color:#343434;
}

.caracteristica-escura{
  
  color:white;
}
.clear{
  clear:both;
}

.download-manual{
  text-align: center;
  .pr;
  
  padding:35px 0 15px 0 ;

}

.coluna-endorses-1, .coluna-endorses-2{
  width: 480px;
  .pr;
  padding-bottom:80px;

}

.titulo-endorses{
  margin-top:80px;
  .font-format(white, 28px);
  .klavika;
  margin-bottom:30px;
}

.linha-endorses{
  width: 375px;
  height: 25px;
  margin-bottom:20px;
  .font-format(white, 16px);
  .klavika;
  .pr;
  a, a:visited{
    .a_clean(white);
  }
}

.linha-endorses-2{
  width: 375px;
  height: 85px;
  margin-bottom:15px;
  .font-format(white, 16px);
  .klavika;
  .pr;
}

.container-footer-home {
  a, a:visited{
    text-decoration: none;
    display: block;
  color: white;
  cursor:pointer;
    &:hover{
      color:#495561;
    };
  }
}

.banner-empresa{
  background-image: url(../img/empresa/foto-empresa.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
}
.banner-produtos{
  background-image: url(../img/produtos/foto-produtos.jpg);
  background-repeat: no-repeat;
  background-position: center;

}

.banner-onde-comprar{
  background-image: url(../img/onde-comprar/foto-onde-comprar.jpg);
  background-repeat: no-repeat;
  background-position: center;

}

.banner-novidade{
  background-image: url(../img/novidade/foto-novidade.jpg);
  background-repeat: no-repeat;
  background-position: center;

}

.banner-manutencao{
  background-image: url(../img/manutencao/foto-manutencao.jpg);
  background-repeat: no-repeat;
  background-position: center;

}

.foto-endorse{
  .pr;
  margin-right:3px;
}

.nome-endorse{
  .pr(right);
  width: 83%;
}

.descricao-endorse{
  .pr(right);
  color:#b4b4b6;
  width: 83%;
  margin-top:-60px;
}


.descricao-produto{
  
  
}

.criacao-sites{
  width: 100%;
  height: 27px;
  text-align: center;
  .klavika;
  margin-top:13px;
  font-size:12px;
  .pr;
  a, a:visited{
    .a_clean(#a5acb2);
  }
}

.voltar-produto{
  display: block;
  text-align:left;
}