/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100%;
}
body {
  overflow-x: hidden;
  height: 100%;
}
/* 
SHORTHAND MIXIN PACK LESS 1.0

@author: Alex Moreno [fb.com/alexmorenodev];
@date: 08/28/13;
@package: nhoi;

*/
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/klavika-regular-webfont.eot');
  src: url('../fonts/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/klavika-regular-webfont.woff') format('woff'), url('../fonts/klavika-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("../fonts/RobotoCondensed-Light.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("../fonts/RobotoCondensed-LightItalic.ttf") format('truetype');
}
/* Normal */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("../fonts/RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("../fonts/RobotoCondensed-Italic.ttf") format('truetype');
}
/* Bold */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("../fonts/RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("../fonts/RobotoCondensed-BoldItalic.ttf") format('truetype');
}
.roboto {
  font-family: 'Roboto Condensed';
}
.klavika {
  font-family: 'Klavika';
}
/* Shorthand for Position Absolute */
.pa {
  position: absolute;
}
/* Position Relative, by default its value is left, but you sure can pass right*/
/* Used most for debugging, stands for "Border RED"*/
.bred {
  border: 1px solid red;
}
/* can be used for debugging when borders screws your grid, stands for Background Color and it comes by default with Gray*/
/* keep your a with hover but original color */
/* ############################### */
.clear {
  clear: both;
}
.page {
  width: 100%;
  position: relative;
  float: left;
  background-color: #eaeaea;
}
.icone-header {
  position: relative;
  float: right;
  margin-top: 40px;
  margin-left: 17px;
}
.pesquisa-home {
  width: 200px;
  height: 18px;
  border: 1px solid #ababab;
}
.input-1 {
  width: 182px;
  height: 20px;
}
.pesquisa-home .input-1::-webkit-input-placeholder {
  color: #999;
}
.pesquisa-home .input-1:-moz-placeholder {
  color: #999;
}
.pesquisa-home .input-1::-moz-placeholder {
  color: #999;
}
.pesquisa-home .input-1:-ms-input-placeholder {
  color: #999;
}
.input-invisivel {
  background: none;
  border: none;
}
.icone-pesquisa {
  position: relative;
  float: right;
  margin-right: 3px;
  margin-top: 2px;
  cursor: pointer;
}
header {
  width: 100%;
  position: relative;
  float: left;
  background-color: #eaeaea;
  height: 172px;
}
.container-header {
  left: 50%;
  margin-left: -480px;
  width: 960px;
  position: absolute;
}
.nav-bar {
  height: 40px;
  width: 100%;
  background-color: #20303f;
  margin-top: 22px;
}
.nav-item {
  color: #ffffff;
  font-size: 13px;
  line-height: normal;
  font-family: Roboto Condensed;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  float: left;
  padding: 12px 18px;
}
.nav-item:hover {
  background-color: #eaeaea;
  border: 1px solid #20303f;
  color: #20303f;
  height: 14px;
  padding: 12px 17px;
}
.active {
  background-color: #eaeaea;
  border: 1px solid #20303f;
  color: #20303f;
  height: 14px;
  padding: 12px 17px;
}
.meio-nav-bar {
  width: 148px;
  position: relative;
  float: left;
  height: 40px;
  background-color: #eee;
  text-align: center;
}
.meio-nav-bar:before {
  content: '';
  border-top: 0px solid #20303f;
  border-left: 7px solid #20303f;
  border-bottom: 40px solid transparent;
  border-right: solid transparent;
  height: 1px;
  width: 1px;
  display: block;
  position: relative;
  float: left;
}
.meio-nav-bar:after {
  content: '';
  border-top: 0px solid #20303f;
  border-right: 7px solid #20303f;
  border-bottom: 40px solid transparent;
  border-left: solid transparent;
  height: 1px;
  width: 1px;
  display: block;
  position: relative;
  float: right;
}
.logo-menu {
  margin-top: -60px;
}
.main {
  width: 100%;
  background-color: #eaeaea;
  height: 440px;
  position: relative;
  float: left;
}
.container-main {
  left: 50%;
  margin-left: -480px;
  width: 960px;
  position: absolute;
  height: 440px;
}
.slideshow {
  width: 650px;
  height: 400px;
  margin-right: 55px;
  position: relative;
  float: left;
}
.barra-preta-slide {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.6;
  background-color: #000;
  height: 90px;
}
.slide-home {
  height: 400px;
  width: 650px;
}
.slide-nav {
  position: absolute;
  bottom: 20px;
  width: 650px;
}
.slide-nav a {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  float: right;
  cursor: pointer;
  margin-left: 12px;
  background-color: #101a23;
}
.activeSlide {
  background-color: #4a5460 !important;
}
.titulo-slide {
  bottom: 40px;
  left: 35px;
  color: #ffffff;
  font-size: 25px;
  line-height: normal;
  font-family: Roboto Condensed;
  text-transform: uppercase;
  position: absolute;
  font-weight: bold;
}
.subtitulo-slide {
  bottom: 24px;
  left: 35px;
  color: #ffffff;
  font-size: 13px;
  line-height: normal;
  font-family: Roboto Condensed;
  text-transform: uppercase;
  position: absolute;
  font-weight: bold;
}
.destaque-thumb {
  width: 220px;
  height: 90px;
  position: relative;
  float: left;
  margin-top: 17px;
  margin-left: 16px;
}
.destaques {
  width: 255px;
  height: 440px;
  position: relative;
  float: left;
  background-color: #495561;
}
.destaque-nome {
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-left: 16px;
  margin-top: 4px;
  position: relative;
  float: left;
}
.footer-home {
  position: relative;
  float: left;
  width: 100%;
  background-color: #20303f;
}
.coluna-footer-home {
  height: 264px;
  position: relative;
  float: left;
  width: 338px;
}
.coluna-footer-home-2 {
  height: 264px;
  position: relative;
  float: left;
  width: 284px;
}
.container-footer-home {
  left: 50%;
  margin-left: -480px;
  width: 960px;
  position: absolute;
  position: relative;
  float: left;
}
.titulo-footer-home {
  color: #ffffff;
  font-size: 34px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  position: relative;
  float: left;
  text-transform: uppercase;
  width: 100%;
  margin-top: 95px;
}
.texto-footer-home {
  color: #ffffff;
  font-size: 15px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  font-weight: bold;
  position: relative;
  float: left;
  margin-top: 18px;
  width: 75%;
}
.input-newsletter {
  height: 25px;
  width: 220px;
  background: #495561;
  position: relative;
  float: left;
  margin-top: 5px;
}
.input-newsletter input {
  width: 95%;
  background: none;
  border: 0;
  color: white;
  font-family: 'Klavika';
  padding-top: 3px;
  font-size: 16px;
  margin-left: 10px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */

  color: white;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: white;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: white;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: white;
}
.container-inputs-newsletter {
  position: relative;
  float: left;
  width: 220px;
}
.enviar-newsletter {
  width: 59px;
  border: 0;
  height: 55px;
  background: #495561;
  position: relative;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  line-height: normal;
  font-family: Roboto Condensed;
}
.enviar-newsletter:hover {
  background: #eaeaea;
}
.enviar-newsletter:hover div {
  color: #495561;
}
.enviar-newsletter div {
  position: relative;
  float: left;
  padding-left: 7px;
}
.titulo-destaques {
  width: 100%;
  background-color: #20303f;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  position: relative;
  float: left;
  padding: 12px 0 9px 0px;
  text-transform: uppercase;
  font-weight: bold;
}
.titulo-destaques span {
  margin-left: 19px;
  display: block;
}
.marcas-parceiras {
  text-transform: uppercase;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  position: absolute;
  height: 40px;
  color: #caced1;
  font-size: 26px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-family: 'Roboto Condensed';
  text-align: center;
  top: 65px;
}
.marcas-parceiras span {
  display: inline-block;
  position: relative;
}
.marcas-parceiras span:before,
.marcas-parceiras span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-top: 1px solid #7b7e85;
  top: 15px;
  width: 1000px;
}
.marcas-parceiras span:before {
  right: 100%;
  margin-right: 35px;
}
.marcas-parceiras span:after {
  left: 100%;
  margin-left: 35px;
}
footer {
  width: 100%;
  background-color: #0f1c25;
  height: 159px;
  position: relative;
  float: left;
}
.wrapper-footer {
  left: 50%;
  margin-left: -480px;
  width: 960px;
  position: absolute;
}
.coluna-footer-1 {
  width: 252px;
  position: relative;
  float: left;
}
.titulo-coluna-footer {
  color: #a5acb2;
  font-size: 13px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  margin-top: 60px;
  font-weight: bold;
}
.texto-coluna-footer {
  color: #a5acb2;
  font-size: 12px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-top: 15px;
}
.faixa-azul-footer {
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
  background-color: #091219;
}
.parceiros {
  position: relative;
  float: left;
  width: 100%;
  height: 290px;
  background-color: #20303f;
  background-repeat: no-repeat;
  background-position: center;
}
.parceiros-home {
  background-image: url(../img/background-marcas-parceiras.png);
}
.banner {
  width: 100%;
  position: relative;
  float: left;
  height: 148px;
  background-color: black;
}
.container-corpo {
  position: relative;
  float: left;
  width: 100%;
  background-color: #495561;
}
.wrapper-corpo {
  left: 50%;
  margin-left: -480px;
  width: 960px;
  position: absolute;
  position: relative;
  float: left;
}
.titulo-empresa {
  color: #ffffff;
  font-size: 30px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  margin-top: 70px;
  width: 100%;
  position: relative;
  float: left;
  text-transform: uppercase;
}
.texto-empresa {
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  padding-bottom: 70px;
  margin-top: 30px;
  position: relative;
  float: left;
}
.wrapper-banner {
  left: 50%;
  margin-left: -480px;
  width: 960px;
  position: absolute;
  color: #ffffff;
  font-size: 38px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  margin-top: 70px;
  text-transform: uppercase;
}
.texto-manutencao-1 {
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-top: 70px;
  width: 100%;
}
.texto-onde-comprar-1 {
  color: #ffffff;
  font-size: 14px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-top: 70px;
  width: 100%;
  position: relative;
  float: left;
}
.texto-onde-comprar-2 {
  color: #ffffff;
  font-size: 20px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  padding-top: 10px;
  padding-bottom: 70px;
  width: 100%;
  position: relative;
  float: left;
}
.texto-onde-comprar-2 a,
.texto-onde-comprar-2 a:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.texto-onde-comprar-2 a:hover,
.texto-onde-comprar-2 a:visited:hover {
  text-decoration: underline;
}
.coluna-manutencao-1 {
  position: relative;
  float: left;
  width: 430px;
  margin-right: 50px;
  margin-top: 50px;
  padding-bottom: 50px;
}
.linha-form {
  width: 100%;
  position: relative;
  float: left;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-top: 5px;
}
.input-form-1 {
  width: 318px;
  background: none;
  border: 1px solid #7f8b97;
  color: white;
}
.input-form-3 {
  width: 298px;
  background: none;
  border: 0;
  color: #7f8b97;
  font-size: 14px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  background-color: transparent;
}
.div-padding-bottom {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 60px;
}
.wrapper-select-3 {
  width: 268px;
  overflow: hidden;
  border: 1px solid #7f8b97;
  position: relative;
  float: left;
  height: 23px;
  background: url(../img/contato/seta2.png) no-repeat right;
}
.textarea-form-1 {
  width: 314px;
  width: 317px \9;
  background: none;
  border: 1px solid #7f8b97;
  color: white;
  height: 90px;
}
.botao-enviar-contato {
  width: 93px;
  height: 24px;
  padding-bottom: 3px;
  position: relative;
  float: right;
  background-color: #20303f;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  border: 0;
}
.botao-enviar-contato:hover {
  color: #20303f;
  background-color: white;
}
.botao-form {
  height: 27px;
  width: 173px;
  position: relative;
  float: left;
  margin-right: 10px;
  border: 0;
  color: #d9e2e7;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  cursor: pointer;
}
.botao-incluir {
  background-color: #8f99a2;
  width: 173px;
}
.botao-incluir:hover {
  background-color: #d9e2e7;
  color: #8f99a2;
}
.botao-remover {
  font-family: 'Klavika';
  font-size: 11px;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.botao-remover:active,
.botao-remover:visited {
  color: #fff;
}
.botao-remover:hover {
  color: #8f99a2;
}
.mensagem-envio-manutencao {
  width: 540px;
  background-color: #EAEAEA;
  line-height: 150%;
  padding: 10px 0;
  display: block;
  font-family: 'Klavika';
  clear: both;
  height: 48px;
  margin: 15px auto 0 auto;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.mensagem-envio-manutencao.removido {
  padding: 0;
  height: 0;
  overflow: hidden;
}
.mensagem-envio-contato {
  background-color: #EAEAEA;
  line-height: 150%;
  padding: 10px 0;
  display: block;
  font-family: 'Klavika';
  clear: both;
  height: 48px;
  margin: 10px 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.mensagem-envio-contato.removido {
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
}
.botao-processar {
  background-color: #20303f;
  margin-right: 0;
  width: 137px;
}
.botao-processar:hover {
  background-color: #d9e2e7;
  color: #20303f;
}
.linha-novidade {
  margin-top: 35px;
  width: 100%;
  height: 120px;
  position: relative;
  float: left;
}
.thumb-novidade {
  position: relative;
  float: left;
  margin-right: 33px;
}
.thumb-novidade a,
.thumb-novidade a:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.thumb-novidade a:hover,
.thumb-novidade a:visited:hover {
  text-decoration: underline;
}
.thumb-novidade-2 {
  position: relative;
  float: left;
  margin-left: 35px;
  margin-bottom: 40px;
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */

  filter: gray;
  /* IE6-9 */

  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */

  -webkit-transition: all .6s ease;
  /* Fade to color for Chrome and Safari */

  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */

}
.thumb-novidade-2:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0);
  /* Google Chrome, Safari 6+ & Opera 15+ */

}
.thumb-video-2 {
  position: relative;
  float: left;
  margin-left: 35px;
  margin-bottom: 40px;
  cursor: pointer;
}
.video-redirect {
  width: 190px;
  height: 96px;
  position: absolute;
  margin-top: -99px;
}
.hover-pb {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0);
  /* Google Chrome, Safari 6+ & Opera 15+ */

}
.titulo-novidade {
  color: #ffffff;
  font-size: 22px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  position: relative;
  float: left;
  margin-top: -5px;
  text-transform: uppercase;
  width: 76%;
  font-weight: bold;
}
.titulo-novidade a,
.titulo-novidade a:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.titulo-novidade a:hover,
.titulo-novidade a:visited:hover {
  text-decoration: underline;
}
.borda-novidade {
  width: 100%;
  height: 1px;
  border-top: 1px solid #38454e;
  border-bottom: 1px solid #687683;
  bottom: 0;
  position: absolute;
}
.borda-novidade-lateral {
  height: 100%;
  width: 1px;
  border-right: 1px solid #687683;
  border-left: 1px solid #38454e;
  right: 0;
  position: absolute;
}
.borda-novidade-lateral-produto {
  height: 100%;
  width: 1px;
  border-right: 1px solid #687683;
  border-left: 1px solid #38454e;
  left: 165px;
  position: absolute;
}
.chamada-novidade {
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-top: 5px;
  width: 76%;
  position: relative;
  float: left;
}
.chamada-novidade a,
.chamada-novidade a:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.chamada-novidade a:hover,
.chamada-novidade a:visited:hover {
  text-decoration: underline;
}
.data-novidade {
  color: #ffffff;
  font-size: 12px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-top: 5px;
  width: 76%;
  position: relative;
  float: left;
  text-align: right;
}
.data-novidade a,
.data-novidade a:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.data-novidade a:hover,
.data-novidade a:visited:hover {
  text-decoration: underline;
}
.coluna-novidade-2 {
  width: 230px;
  position: relative;
  float: left;
  padding-top: 85px;
}
.label-form-1 {
  width: 110px;
  width: 90px \9;
  position: relative;
  float: left;
  margin-top: 3px;
}
.label-form-3 {
  width: 120px;
  position: relative;
  float: left;
  margin-top: 3px;
}
.wrapper-corpo-novidades {
  padding-top: 30px;
}
.wrapper-corpo-novidade {
  padding-top: 85px;
}
.label-titulo {
  font-size: 22px;
  width: 100%;
}
.texto-contato {
  position: relative;
  float: left;
  margin-left: 120px;
  margin-top: 20px;
}
.foto-parceiros {
  position: relative;
  float: left;
  margin: 0 25px;
}
.cycle-parceiro {
  width: 100%;
  position: relative;
  float: left;
}
.wrapper-parceiros {
  left: 50%;
  margin-left: -510px;
  width: 1020px;
  position: absolute;
  margin-top: 150px;
}
.foto-novidade {
  position: relative;
  float: left;
  margin-bottom: 30px;
  padding-top: 85px;
}
.coluna-novidade {
  width: 730px;
  position: relative;
  float: left;
  padding-bottom: 30px;
}
.texto-novidade {
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-top: 15px;
  width: 90%;
  position: relative;
  float: left;
}
.texto-novidade a,
.texto-novidade a:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.texto-novidade a:hover,
.texto-novidade a:visited:hover {
  text-decoration: underline;
}
.voltar {
  color: #8f99a2;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  position: relative;
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
.voltar a,
.voltar a:visited {
  text-decoration: none;
  color: #8f99a2;
  cursor: pointer;
}
.voltar a:hover,
.voltar a:visited:hover {
  text-decoration: underline;
}
.coluna-categorias {
  width: 160px;
  position: relative;
  float: left;
  padding-bottom: 60px;
}
.coluna-produtos {
  width: 750px;
  padding-left: 50px;
  position: relative;
  float: left;
  padding-top: 45px;
}
.coluna-produto {
  width: 735px;
  padding-left: 65px;
  position: relative;
  float: left;
  padding-top: 40px;
  padding-bottom: 30px;
}
.titulo-categorias {
  color: #ffffff;
  font-size: 22px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  position: relative;
  float: left;
  margin-top: 40px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.titulo-produto {
  color: #ffffff;
  font-size: 22px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  position: relative;
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.informacoes {
  color: #ffffff;
  font-size: 22px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  font-weight: bold;
  margin-top: 30px;
  text-transform: uppercase;
}
.caracteristicas {
  position: relative;
  float: left;
  width: 720px;
  margin-top: 15px;
  padding-bottom: 60px;
  font-size: 16px;
}
.duas-colunas {
  padding-right: 238px;
}
.celula-caracteristica {
  width: 238px;
  height: 25px;
  margin-right: 3px;
  position: relative;
  float: left;
}
.celula-caracteristica div {
  font-family: 'Klavika';
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}
.celula-caracteristica:nth-of-type(3n) {
  margin-right: 0;
}
.ultimos-videos {
  position: relative;
  float: left;
  color: #ffffff;
  font-size: 22px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  margin-left: 34px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.informacoes-produto {
  color: #ffffff;
  font-size: 18px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-top: 20px;
}
.linha-categoria {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  line-height: normal;
  font-family: Roboto Condensed;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.linha-categoria:hover {
  text-decoration: underline;
  cursor: pointer;
}
.linha-subcategoria {
  width: 81%;
  color: #ffffff;
  font-size: 12px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  margin-bottom: 5px;
  margin-left: 30px;
}
.subcategorias {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.subcategorias a,
.subcategorias a:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.subcategorias a:hover,
.subcategorias a:visited:hover {
  text-decoration: underline;
}
.container-produto-listagem {
  width: 240px;
  position: relative;
  float: left;
  margin-right: 15px;
  margin-bottom: 30px;
  height: 300px;
  padding-bottom: 30px;
}
.container-produto-listagem:nth-of-type(3n) {
  margin-right: 0;
}
.container-produto-listagem:hover {
  background-color: #20303f !important;
}
.titulo-produto-listagem {
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  position: relative;
  float: left;
  width: 80%;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}
.paginacao {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  height: 30px;
  margin-bottom: 60px;
  margin-top: 30px;
  color: #9099a2;
  font-size: 20px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
}
.paginacao a,
.paginacao a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #9099a2;
  font-size: 20px;
  line-height: normal;
  font-family: Roboto Condensed;
}
.paginacao a:hover,
.paginacao a:visited:hover {
  color: white;
}
.item-paginacao {
  margin: 0 10px;
  font-weight: bold;
}
.item-ativo {
  color: white;
  display: inline;
  font-weight: bold;
}
.subtitulo-produto-listagem {
  color: #ffffff;
  font-size: 12px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Roboto Condensed';
  position: relative;
  float: left;
  width: 80%;
  margin-left: 20px;
}
.foto-produto {
  position: relative;
  float: left;
}
.miniatura-produto {
  position: relative;
  float: left;
  cursor: pointer;
  margin: 5px 5px;
  filter: url(filters.svg#grayscale);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */

  filter: gray;
  /* IE6-9 */

  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */

  -webkit-transition: all .6s ease;
  /* Fade to color for Chrome and Safari */

  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */

}
.miniatura-produto:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0);
  /* Google Chrome, Safari 6+ & Opera 15+ */

}
.subcategoria-ativa {
  font-weight: bold;
  text-decoration: underline;
}
.container-miniaturas {
  position: relative;
  float: left;
  margin-top: -5px;
  margin-left: 30px;
  width: 171px;
}
.caracteristica-clara {
  background-color: #c5c5c5;
  color: #343434;
}
.caracteristica-escura {
  color: white;
}
.clear {
  clear: both;
}
.download-manual {
  text-align: center;
  position: relative;
  float: left;
  padding: 35px 0 15px 0 ;
}
.coluna-endorses-1,
.coluna-endorses-2 {
  width: 480px;
  position: relative;
  float: left;
  padding-bottom: 80px;
}
.titulo-endorses {
  margin-top: 80px;
  color: #ffffff;
  font-size: 28px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  margin-bottom: 30px;
}
.linha-endorses {
  width: 375px;
  height: 25px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  position: relative;
  float: left;
}
.linha-endorses a,
.linha-endorses a:visited {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.linha-endorses a:hover,
.linha-endorses a:visited:hover {
  text-decoration: underline;
}
.linha-endorses-2 {
  width: 375px;
  height: 85px;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto Condensed;
  font-family: 'Klavika';
  position: relative;
  float: left;
}
.container-footer-home a,
.container-footer-home a:visited {
  text-decoration: none;
  display: block;
  color: white;
  cursor: pointer;
}
.container-footer-home a:hover,
.container-footer-home a:visited:hover {
  color: #495561;
}
.banner-empresa {
  background-image: url(../img/empresa/foto-empresa.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.banner-produtos {
  background-image: url(../img/produtos/foto-produtos.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.banner-onde-comprar {
  background-image: url(../img/onde-comprar/foto-onde-comprar.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.banner-novidade {
  background-image: url(../img/novidade/foto-novidade.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.banner-manutencao {
  background-image: url(../img/manutencao/foto-manutencao.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.foto-endorse {
  position: relative;
  float: left;
  margin-right: 3px;
}
.nome-endorse {
  position: relative;
  float: right;
  width: 83%;
}
.descricao-endorse {
  position: relative;
  float: right;
  color: #b4b4b6;
  width: 83%;
  margin-top: -60px;
}
.criacao-sites {
  width: 100%;
  height: 27px;
  text-align: center;
  font-family: 'Klavika';
  margin-top: 13px;
  font-size: 12px;
  position: relative;
  float: left;
}
.criacao-sites a,
.criacao-sites a:visited {
  text-decoration: none;
  color: #a5acb2;
  cursor: pointer;
}
.criacao-sites a:hover,
.criacao-sites a:visited:hover {
  text-decoration: underline;
}
.voltar-produto {
  display: block;
  text-align: left;
}
