<h1>Columnizer JQuery Plugin</h1>
<h3>About</h3>
<p>Columnizer will automatically split your 1 div of content into as many columns as will fit the user's browser! If 
the browser is resized, columns will be automatically added or removed appropriately.</p>
<p></p>
<p>For documentation, samples, and latest news, visit the project homepage at <a href='http://welcome.totheinter.net/columnizer-jquery-plugin/'>http://welcome.totheinter.net/columnizer-jquery-plugin/</a></p>
<p></p>
<p>Columnizer is a jQuery plugin by Adam Wulf (<a href='http://welcome.totheinter.net/'>http://welcome.totheinter.net/</a>)</p>
<p></p>
<p><b>Samples</b></p>
<p><a href='sample1.html'>sample 1</a> - Shows two independent columnized sections of text, a top and bottom section.</p>
<p><a href='sample2.html'>sample 2</a> - Shows two independent columnized sections of content with both images and text.</p>
<p><a href='sample3.html'>sample 3</a> - This example shows text being columnized into a top fixed-height section, and then overflowing into a columnized bottom section.</p>
<p><a href='sample4.html'>sample 4</a> - Preserves JavaScript events on &lt;a&gt; tags of the columnized content.</p>
<p><a href='sample5.html'>sample 5</a> - Fixed height and horizontal scrolling columns.</p>
<p><a href='sample6.html'>sample 6</a> - Style the first column differently than the rest of the content.</p>
<p><a href='sample7.html'>sample 7</a> - Columns wrap around an image in the top right of the page.</p>
<p><a href='sample8.html'>sample 8</a> - Lays out and preserves entire blocks of content into columns.</p>
<p><a href='sample9.html'>sample 9</a> - Uses columnizer to paginate content into a multi-page newsletter layout.</p>
<p><a href='sample10.html'>sample 10</a> - Shows zero padding between columns.</p>
<p><a href='sample11.html'>sample 11</a> - Shows CSS specified padding between columns.</p>
<p><a href='sample12.html'>sample 12</a> - shows mix of automatic columns and manual column breaks.</p>
<p><a href='sample13.html'>sample 13</a> - shows only manual column breaks.</p>
<p><a href='sample14.html'>sample 14</a> - shows column break inside of a dontsplit item.</p>

<p>&nbsp;</p>
<p><b>GitHub Issues</b></p>
<p><a href='issue_12.html'>Issue 12</a> - fix infinite loop when using dontend and specifying a height.</p>
<p><a href='issue_30.html'>Issue 30</a> - fix infinite loop with double spaces in text.</p>
<p><a href='issue_45.html'>Issue 45</a> - don't re-indent the first line of a split paragraph.</p>
<p><a href='issue_47.html'>Issue 47</a> - fix infinite loop when using dontsplit and specifying a height.</p>
<p><a href='issue_47_2.html'>Issue 47 (2)</a> - fix infinite loop when using dontsplit without specifying a height.</p>
<p><a href='issue_49.html'>Issue 49</a> - make sure columnizer doesn't duplicate text nodes.</p>
<p><a href='issue_51.html'>Issues 51, 24</a> - missing content when columnizer is called from script in body below content.</p>
